# this is a uci file, which goes to /etc/config/mcproxy
# and gets processed by /etc/init.d/mcproxy

# probably-useful default configuration setup.
# discover the wan and lan interfaces, set up
# mcproxy so that igmpv3 and mldv2 messages from
# lan are propagated into wan.

# generate and use /etc/var/mcproxy_ip4.conf
config mcproxy 'ip4'
	option disabled '0'
	option respawn '1'
	option protocol 'IGMPv3'

# generate and use /etc/var/mcproxy_ip6.conf
config mcproxy 'ip6'
	option disabled '0'
	option respawn '1'
	option protocol 'MLDv2'

config instance
	option disabled '0'
	option name 'join_into_wan'
	list upstream 'find-wan'
	list downstream 'find-lan'

config table
	option name 'allways'
	list entries '(*|*)'

