# this is a uci file, which goes to /etc/config/mcproxy
# and gets processed by /etc/init.d/mcproxy

# This sample uses your own MCProxy config file(s)
# (disable or remove one if you don't want to run both)
config mcproxy 'mcproxy_file'
	option disabled '0'
	option respawn '1'
	option file '/etc/mcproxy_v4.conf'

config mcproxy 'mcproxy_file'
	option disabled '0'
	option respawn '1'
	option file '/etc/mcproxy_v6.conf'

